<!-- <div class="container text-center">

    <h2 align="center">Online Shopping Cart</h2>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUV3Uqq6zJjiQj8REtp9JPUU5c23-X4fK7OA&usqp=CAU" alt=" Image" class="img-fluid">

</div> -->


<!-- 
 <div class="container text-center">
    <h2 align="center">Online Shopping Cart</h2>
    <img src="https://img.freepik.com/premium-photo/supermarket-basket-with-location-icon-realistic-3d-render-shopping-concept-market-shopping_175994-11385.jpg" alt="Image" class="img-fluid" style="width: 150%; height: 600;">
</div>  -->

<div class="container text-center">
    <h2 align="center">Online Shopping Cart</h2>
    <img src="https://img.freepik.com/premium-photo/supermarket-basket-with-location-icon-realistic-3d-render-shopping-concept-market-shopping_175994-11385.jpg" alt="Image" class="img-fluid" style="width: 150%; max-height: 500px;">
</div>
